@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color:  #B97375;
    --secondary-color: #CEB1BE;
    --text-color: #000000;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Exo 2', sans-serif;
    color: var(--text-color);
}
p {
    font-family: 'Arial', sans-serif;
    color: #000000
}
nav a {
    text-decoration: none;
    color: var(--text-color);
    font-size: large;
    font-family: "Exo 2", sans-serif;
    display: flex;
    text-align: center;
}
body {
    max-width: 960px;
    margin: auto;
}
.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    top: 40px;
    left: auto;
    text-align: center;
    background-color: #ceb1be7b;
    width: 57.5rem;
    padding: 20px 20px;
    font-family: "Exo 2", sans-serif;
}
.hero article {
    position: absolute;
    top: 300px;
    left: 60px;
    text-align: center;
    background: #b9737589;
    padding: 15px 15px;
    width: 50rem;
}

.hero article img {
    float: right; 
    margin-left: 10px;
    max-width: 150px;
    height: auto;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}
section img {
    display: block;
}
.hero article p {
    color: #fffcfc;
    font-weight: 800;
    background-color: #0000005c;
}
header {
	margin: 2rem auto;
	display: grid;
	grid-template-columns: 300px 10fr 1fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
    font-weight: 700;
}
h1 {
	font-size: 3rem;
	font-family: Acme, Arial, sans-serif;
}
nav {
    display: flex;
	text-align: right;
    align-items: center;
    justify-content: space-between;
    background-color: #b9737588;
    padding: 10px;
}
.history{
    margin-top: 50px;
    margin-bottom: 50px;
}
.history h2{
    text-align: center;
    width: 100%;
}
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.text-column1 {
    flex: 1;
    padding: 10px;
    font-size: 20px;
    text-align: center;
}
.text-column2 {
    flex: 1;
    padding: 5px;
    font-size: 20px;
    text-align: center;
}
.history img {
    max-width: 100%;
    height: auto;
    width: 500px;
}
.adventure h2{
    text-align: center;

}
.pictures{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.pictures img{
    max-width: 150%; 
}
figcaption{
    margin-left: 8px;
    font-size: 14px; 
    color: #666;
    padding: 10px; 
}
 footer {
    display: flex;
    justify-content: end;
    margin-top: 60px;
    background-color: aqua;
    clear: both;
 }
 .bro {
    padding: 20px 250px;
    text-align: center;
 }
 .company{
    text-align: left;
    width: 200px;
 }
 .company h2{
    width: 300px;
 }
 .company h1 {
    width: 200%;
    padding: 10px 280px;
    border: 3px solid;
    text-align: center;
    max-width: 800px;
    background-color: rgba(106, 142, 35, 0.567);
 }
 .map{
    float: right;
    margin-left: 10px;
    max-width: 500px;
    margin-top: -310px;
    margin-bottom: 50px;
    margin-right: 100px;
 }
 .info{
    margin-left: 50px;
    border: 1px solid;
    width: 240px;
    padding: 10px;
    background-color: #dcbdcb;
    font-weight: 50;
 }
 .section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    border: 2px solid;
    border-radius: 3rem;
    width: 110%;
    padding: 10px;
    color: #000000;
    font-weight: 800;
    font-family: "Exo 2", sans-serif;
    background-color: #f5e0e8;
 }
 form{
    display: grid;
    grid-gap: .5rem;
    border: 1px solid;
    border-radius: 5px;
    padding: 1rem;
    margin: auto;
    margin-top: 60px;
    text-align: left;
    font-size: medium;
    font-weight: 500;
    font-family: "Exo 2", sans-serif;
    border-radius: 1rem;
    background-color: rgb(231, 231, 231);
 }
 legend{
    margin-bottom: 10px;
    font-size: large;
    font-weight: 700;
    font-family: "Exo 2", sans-serif;
    text-align: center;
 }
 .checkbox{
    text-align: left;
 }
 input, textarea{
    padding: 15px;
    border-radius: .5rem;
 }
 button{
    padding: 20px;
    display: flex;
    justify-content: center;
    justify-self: center;
    width: 300px;
    margin-top: 30px;
    font-weight: 700;
    font-size: larger;
    background-color: rgb(103, 103, 255);
    border: 2px solid;
    font-family: "Exo 2", sans-serif;
    border-radius: 1rem;
 }
 button:hover{
    background-color:rgb(42, 219, 50);
 }
 .options{
    display: grid;
    margin-bottom: 20px;
 }
 