@import url(https://fonts.google.com/share?selection.family=Exo+2:ital,wght@0,100..900;1,100..900);

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
:root {
    --primary-color: #0E0707;
    --secondary-color: #CEB1BE;
    --B97375-color: #B97375;

    --heading-font: 'Exo2', serif;
    --paragraph-font: 'font-family', serif;
    --nav-background-color: #CEB1BE;
    --nav-link-color: #CEB1BE;
    --nav-hover-link-color: #B97375;
    --nav-hover-backgroud-color: #593636; 
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header {
    padding: 20px;
    background-color: var(--secondary-color);
}
p {
    padding: 25px;
}
nav{
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a{
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-backgroud-color);
}